/**
 * CSS Adapted from:
 * http://css-snippets.com/drop-down-navigation/
 * http://css-snippets.com/pseudo-elements/
 * Author: Lisa Catalano
 **/
  

body {
  margin: 0;
  padding: 0;
  background: #000; /* #ccc; */
}

footer {
  background-color: #444;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

nav a:hover {
  background-color: #005f5f;
}

nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
nav li li {
  font-size: 0.8em;
}

/* Sub sub Menus */
nav li li li {
  font-size: 0.9em;
}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  nav a {
    border-bottom: none;
  }

  .helpmenu {
    float:right;
    list-style-type:none;
  }

  nav > ul > li {
    text-align: center;
  }

  nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  nav li:hover ul {
    display: block;
  }

  nav li ul li {
    display: block;
        height: 40px;
    line-height: 40px;
  }
  
  /* Sub Sub Menus */

  .submenu > a::after, .checkbox > a::after {
    content: '\0025B8';
    text-align: right;
    float: right;
    margin-right: 10px;
  }
  
  nav li:hover > ul > li > ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  nav li:hover > ul > li:hover > ul {
    position:relative;
    left: 100%;
    top: -100%;
    display: block;
  }

  /* Checkbox */
  
  .checkbox_item > a::before {
    content: '\02610';
    margin-right: 10px;
  }
  
  .checked {
      background-color: #ff5f5f;
  }
  
  .checked > a::before {
    content: '\02713';
    margin-right: 10px;

  }
  
  /* Separator */
  nav .separator {
    height: 0px;
    border-bottom: solid 1px #ccc;
  }
}

/************* Trucsweb.com ******************
 *
 * Window « Modal responsive » in pure CSS
 * http://www.trucsweb.com/tutoriels/css/css-modal/
 *
 *********************************************/

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.droite {
  float:right;
}
 
.oModal {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  padding-top : 0px;
  pointer-events: none;
  transition-delay: 1s;
      -webkit-transition: padding 400ms ease-in-out, opacity 200ms ease-in;
  -moz-transition: padding 400ms ease-in-out, opacity 200ms ease-in;
  transition: opacity 400ms ease-in, padding 400ms ease-in-out;
}
 
.oModal_target {
  opacity: 1;
  padding-top : 10%;
  pointer-events: auto;
}

 
.oModal > .container {
  max-width: 600px;
  overflow-y: auto;
  max-height: 500px;
  position: relative;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  background: #eee;
  margin: 1% auto;
}

.oModal > .container_target {

}

.oModal > div header,.oModal > div footer {
  background-color: #444;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;

  border-bottom: 1px solid #e7e7e7;
  border-radius: 5px 5px 0 0;
  
}

.oModal  > div header a { 
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

.oModal  > div article {
    font-size: 1.1em;
    font-weight: 300; 
    font-family:'Lato'; 
}

.oModal .footer {
  border:none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px;
}
 
.oModal > div h2 {
  margin:0;
}
 
.oModal > div .btn {
  float:right;
}
 
.oModal > div section,.oModal > div > header, .oModal > div > footer {
  padding: 1px 15px 0px 15px;
}

#console {
  z-index: 2;
}

#console  form {
    display: inline-block;
}

.slideout {
/**
  opacity:0.5;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  **/
  background-color: rgba(68,68,68,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  color: #333;
  float: right;
  position: fixed;
  top: 150px;
  right: -620px;
  width: 600px;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}

.slideout.on {
  right: 0px;
}

.slideout input[type="text"] {
  background: transparent;
  outline: none;
  width: 500px; 
  font-family: mono;
  color: #fff;
  border: none; 
  border-bottom: solid 1px white
}
canvas {
  width: 100%;
  align: center;
  z-index: 1;
}

