/**
 * CSS Adapted from:
 * http://css-snippets.com/drop-down-navigation/
 * http://css-snippets.com/pseudo-elements/
 * Author: Lisa Catalano
 **/
  

body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: left;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
}

nav a:hover {
  background-color: #005f5f;
}

nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
nav li li {
  font-size: .8em;
}

/* Sub sub Menus */
nav li li li {
  font-size: .8em;
}


/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/

@media screen and (min-width: 650px) {
  nav li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }

  nav a {
    border-bottom: none;
  }

  nav > ul > li {
    text-align: center;
  }

  nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  nav li:hover ul {
    display: block;
  }

  nav li ul li {
    display: block;
        height: 40px;
    line-height: 40px;
  }
  
  /* Sub Sub Menus */

  .sub > a::after {
    content: '\0025B8';
    text-align: right;
    float: right;
    margin-right: 10px;
  }
  
  nav li:hover > ul > li > ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  nav li:hover > ul > li:hover > ul {
    position:relative;
    left: 100%;
    top: -100%;
    display: block;
  }

  /* Checkbox */
  
  .checkbox > a::before {
    content: '\02610';
    margin-right: 10px;
  }
  
  .checked {
      background-color: #ff5f5f;
  }
  
  .checked > a::before {
    content: '\02713';
    margin-right: 10px;

  }
}



